.logo img {
    width: 15rem;
}
.header_enlaces ul a {
    font-size: 1.6rem;
}
nav h1 {
    font-size: 4.5rem;
}
.secction__mapas--h2 {
    font-size: 4rem;
}
.secction__mapas--p {
    font-size: 2rem;
}