* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    /*
       font-family: 'Manrope', sans-serif;
        font-family: 'Oswald', sans-serif;
    */
}
html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

/* HEADER */

header {
    width: 100%;
    height: auto;
    background-color: hsl(206deg 73% 4%);
    padding: 1rem 0 1rem 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}
.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 10rem;
}
.header_enlaces {
    width: 100%;
    height: auto;
}
.header_enlaces ul {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.header_enlaces ul a {
    text-decoration: none;
    color: white;
}
.unete {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: rgb(65, 26, 26);
    border-radius: 4px;
}
.header_enlaces ul a:hover {
    text-decoration: underline;
}
.unete:hover {
    background-color: rgb(88, 40, 40);
}

/* NAV */

nav {
    background-image: url("../img/noche_header.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
}
nav h1 {
    padding: 1rem;
    color: aliceblue;
    font-size: 3rem;
}
.buscador {
    width: 95%;
    height: 40px;
    margin-top: 1rem;
    border-radius: 25px;
    border: solid;
    border-color: #525357;
    border-width: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.lupa {
    width: 17px;
    height: 17px;
    margin: 1.7rem;
    -webkit-filter: invert(40%);
    filter: invert(55%);
}
.buscador input {
    flex-grow: 1;
    width: auto;
    height: 35px;
    margin: auto;
    border: none;
    background-color: inherit;
    color: white;
}
.buscador input:focus {
    border-style: none;
    outline: none;
    font-size: 1.3rem;
}
.microfono {
    width: 15px;
    height: 20px;
    margin: 1.7rem;
    -webkit-filter: invert(100%);
    filter: invert(50%);
}