header {
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo {
    width: 50%;
}
.logo img {
    width: 12.5rem;
}
.header_enlaces {
    width: 50%;
}
.header_enlaces ul a {
    font-size: 1.3rem;
}
nav h1 {
    font-size: 4rem;
}
.buscador input:focus {
    font-size: 1.5rem;
}
.secction__mapas--p {
    font-size: 1.6rem;
}
.secction__mapas--h2 {
    font-size: 3rem;
}
footer .descripcion {
    width: 50%;
}
footer .formulario {
    width: 50%;
}