header {
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo {
    width: 50%;
}
.logo img {
    width: 12.5rem;
}
.header_enlaces {
    width: 50%;
}
.header_enlaces ul a {
    font-size: 1.2rem;
}
nav h1 {
    font-size: 3.5rem;
}
.buscador input {
    height: 40px;
}
.buscador input:focus {
    font-size: 1.5rem;
}
section {
    min-height: 300px;
}
.mapas-base a h2 {
    font-size: 2.5rem;
}
.mapas-base div p {
    font-size: 1.5rem;
    padding-left: 2rem;
}
.mapas-tematicos a h2 {
    font-size: 2.5rem;
    margin-left: -8rem;
}
.mapas-tematicos div p {
    font-size: 1.5rem;
    margin-left: 1rem;
}
.fotografias-imagenes a h2 {
    font-size: 2.5rem;
}
.fotografias-imagenes div p {
    font-size: 1.5rem;
    padding-left: 2rem;
}
.bd-espaciales a h2 {
    font-size: 2.5rem;
    margin-left: -10rem;
}
.bd-espaciales div p {
    font-size: 1.5rem;
    margin-left: 1rem;
}